body {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slot-machine {
  width: 550px;
  height: 400px;
  background-color: #ffcc00;
  border: 10px solid #000000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.reels {
  display: flex;
}

.reel {
  width: 100px;
  height: 150px;
  margin: 0 10px;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 90px;
  font-weight: bold;
  color: #000;
}

.spin-btn {
  width: 150px;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 20px;
}

.spin-btn:hover {
  background-color: #333;
}
