body {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Arvo";
}

/* import the font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

.slot-machine h1 {
  font-family: "Bangers", cursive;
  font-size: 48px;
  color: #fff;
  text-shadow: 2px 2px #000;
  margin: 10px 0;
}

.slot-machine {
  width: 550px;
  height: 400px;
  background-color: #ffcc00;
  border: 10px solid #000000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.reels {
  display: flex;
  margin-bottom: -10px;
}

.reel {
  width: 100px;
  height: 150px;
  margin: 0 10px;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 90px;
  font-weight: bold;
  color: #000;
}

/* Bet controls */

.controls {
  margin-bottom: -20px;
}

.bet-options {
  display: flex;
  gap: 40px;
  margin-bottom: 10px;
  font-size: 18px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.spin-btn {
  width: 150px;
  height: 40px;
  background-color: #000;
  color: #fff;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
}

.spin-btn:hover,
.auto-spin-btn:hover {
  background-color: #333;
}

.auto-spin-btn {
  width: 75px;
  height: 40px;
  background-color: #000;
  color: #fff;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Pop Up & Icons */

.settings-icon,
#toggle-music {
  cursor: pointer;
}

#toggle-music {
  height: 25px;
  background-color: #000;
  color: rgb(255, 255, 255);
}

.settings-icon img {
  height: 24px;
}
.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.slot-machine {
  position: relative;
}
.popup-container {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  border: 10px solid #000000;
  border-radius: 20px;
}

.popup-content {
  width: 550px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  font-size: 14px;
}

.close-popup {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #000000;
  cursor: pointer;
}

.close-popup:hover {
  text-decoration: underline;
}
.close-popup span {
  color: red;
  font-weight: 600;
}

.how-to-play,
.win-table {
  flex: 1;
  background-color: #00000033;
  padding: 5px;
}

.win-table {
  border-left: 1px dashed black;
}

/* Footer */

.footer {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-bottom: -20px;
}

#status {
  font-size: 20px;
}
